<div class="card mb-3">
  <div class="card-body">
    <p class="card-text"><%= comment.body %></p>
    <p class="card-text"><small class="text-muted">Comment by: <%= comment.commenter %></small></p>
  </div>
</div>