* {
	box-sizing: border-box;
}
body {
	padding: 10% 30%;
	background: #EFF2F1;
}
.game-container {
	width: 303px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
fieldset {
	text-align: center;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.players {
  margin-bottom: 10px;
}
.cell {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background: gray;
    padding: 40%;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}

.cell:hover {
	background: lightgray;
}

.hidden {
	display: none;
}


button {
	margin-top: 10px;
}
.info {
	color: red;
}